.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 17px;
    font-size: 2em;
}

.nav a {
    color: white;
    text-decoration: none;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #15803b;
    color: #ebe2e2;
    text-align: center;
    padding: 0.1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #efdada;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 2rem;
}


h1 {
    margin-bottom: 1.5rem;
    color: #060606;
}
h2 {
    margin-bottom: 1.5rem;
    color: #030d2f;
}

pre {
    background-color: #f0f0f0;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 4px;
}

footer {
    text-align: center;
    background-color: #15803b;
    color: #fff;
    padding: 1rem;
    border-top: 2px solid #fff;
}

/* Add some hover effects to make the page more interactive */
a {
    color: #15803b;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #88079f;
}

button {
    background-color: #15803b;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1fa500;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }









